<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Checkout.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <!-- Gateway URL. Uncomment the line corresponding to the desired domain. -->
    <!-- URL de la plateforme de paiement. Décommenter la ligne correspondante au domaine souhaité. -->

    <!-- <add key="gateway_url" value="https://secure.lyra.com/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://e-paiement-securite-bici.com/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://clicandpay.groupecdn.fr/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://secure.cobroinmediato.tech/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://epaync.nc/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://secure.innopay.ch/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://secure.micuentaweb.pe/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://secure.osb.pf/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://secure.payty.com/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://secure.payzen.co.in/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://secure.payzen.lat/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://secure.payzen.com.br/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://scelliuspaiement.labanquepostale.fr/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://sogecommerce.societegenerale.eu/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://paiement.systempay.fr/vads-payment/" /> -->
    <!-- <add key="gateway_url" value="https://secure.payzen.eu/vads-payment/" /> -->

    <!-- Shop identifier : Available in your store Back Office (Settings/Shops/Configuration). -->
    <!-- Identifiant de la boutique : Disponible dans le Back Office de votre boutique (Paramétrage/Boutiques/Configuration). -->
    <add key="shop_id" value="123456789" />

    <!-- Key in TEST mode : This field is used for crypting signature and should never be sent to payment gateway. It is available in your store Back Office (Settings/Shops/Certificates). -->
    <!-- Clé en mode TEST : Ce champ est utilisé pour le chiffrage de la signature et ne doit jamais être posté à la plateforme de paiement. Il est disponible dans le Back Office de votre boutique (Paramétrage/Boutiques/Certificats) -->
    <add key="key_test" value="1111111111111111" />

    <!-- Key in PRODUCTION mode : This field is used for crypting signature and should never be sent to payment gateway. It is available in your store Back Office (Settings/Shops/Certificates). -->
    <!-- Clé en mode PRODUCTION : Ce champ est utilisé pour le chiffrage de la signature et ne doit jamais être posté à la plateforme de paiement. Il est disponible dans le Back Office de votre boutique (Paramétrage/Boutiques/Certificats) -->
    <add key="key_prod" value="2222222222222222" />

    <!-- Context mode : Possible values are TEST or PRODUCTION. -->
    <!-- Mode de fonctionnement : Les valeurs possibles sont TEST ou PRODUCTION. -->
    <add key="ctx_mode" value="TEST" />

    <!-- Validation mode : 0 => automatic, 1 => manual. Leave blank to use the gateway configuration. -->
    <!-- Mode de validation : 0 => automatique, 1 => manuel. Laisser vide pour utiliser la configuration de la plateforme. -->
    <add key="validation_mode" value="" />

    <!-- Capture delay : Leave blank to use gateway configuration. -->
    <!-- Délai avant remise en banque : Laisser vide pour utiliser la configuration de la plateforme. -->
    <add key="capture_delay" value="" />

    <!-- Card types : Card types separated by semicolons. Leave blank to use gateway configuration. -->
    <!-- Types de carte : Types de cartes séparés par des points-virgules. Laisser vide pour utiliser la configuration de la plateforme. -->
    <add key="payment_cards" value="" />

    <!-- Website default language. -->
    <!-- Langue par défaut du site. -->
    <add key="default_language" value="en" />
  </appSettings>
</configuration>